/* Navbar container */
.navbar {
    display: flex;
    overflow: hidden;
    background-color: #3B4252;
    font-family: lilex;
    justify-content: left;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: #2E3440;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #E5E9F0;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #5E81AC;

  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #E5E9F0;
    color: #3B4252;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1; */
  }
  
  /* Mega Menu header, if needed */
  .dropdown-content .header {
    background: #D8DEE9;
    /* padding: 16px; */
    color: #3B4252;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    padding: 10px
  }
  
  
  /* Style links inside the columns */
  .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a background color on hover */
  .column a:hover {
    background-color: 
    #4C566A;
  }
  

@font-face {
    font-family: Lilex;
    src: url(Lilex-Regular.ttf)
}

body {
    background-color: #2E3440;
    font-family: Lilex;
    color: #D8DEE9;

}



.outter-flex {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.top-flex {
    flex: 1;
}

.content-flex {
    flex: 8;
}

.footer-flex {
    flex: 1;
    align-content: center;
    justify-content: center;
}



::selection {
    background: #4c566a;
    color: #8fbcbb;
}

a::selection {
    color: #81a1c1;
}

h1 {
    color: #D8DEE9;
}

.flexH2 {
    width: 100%;
    display: flex;
    justify-content: left;
    background-color: #3b4252;
}

h2 {
    padding-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    color: #e5e9f0;
}

.text {
    color: #d8dee9;
}

a {
    color: #88c0d0;
}

a:hover {
    color: #bf616a
}

a:visited {
    color: #b48ead
}

a:visited:hover {
    color: #bf616a
}


.flex-quote {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.quote {
    background-color: #eceff4;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    color: #434c5e;
    width: 80%;
    text-align: justify;
}

.quote::selection {
    color: #88c0d0;
}



.palette-shadow {
    box-shadow:
        0px 0.9px 0.6px -8px rgba(0, 0, 0, 0.11),
        0px 2px 1.3px -8px rgba(0, 0, 0, 0.087),
        0px 3.3px 2.1px -8px rgba(0, 0, 0, 0.076),
        0px 5px 3.2px -8px rgba(0, 0, 0, 0.068),
        0px 7.3px 4.6px -8px rgba(0, 0, 0, 0.061),
        0px 10.3px 6.6px -8px rgba(0, 0, 0, 0.055),
        0px 14.6px 9.3px -8px rgba(0, 0, 0, 0.049);
}

.palette-shadow:hover {
    box-shadow:
        0px 1.1px 0.6px rgba(0, 0, 0, 0.13),
        0px 2.3px 1.3px rgba(0, 0, 0, 0.103),
        0px 3.9px 2.1px rgba(0, 0, 0, 0.09),
        0px 5.9px 3.2px rgba(0, 0, 0, 0.08),
        0px 8.5px 4.6px rgba(0, 0, 0, 0.072),
        0px 12.1px 6.6px rgba(0, 0, 0, 0.065),
        0px 17.1px 9.3px rgba(0, 0, 0, 0.058);
}

.palette-center {
    display: flex;
    justify-content: center;
}

.palette {
    display: flex;
    width: 50vw;
    height: 12vh;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    .palette {
        display: flex;
        width: 90%;
        height: 12vh;
        border-radius: 5px;
        overflow: hidden;
    }
}

.palette-quarter {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    flex: 1;
}

.palette-top {
    display: flex;
    width: 100%;
    height: 70%;
}

.palette-text {
    display: flex;
    width: 100%;
    height: 30%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.palette-font {
    color: black;
    font-size: 14px;
}

.horizontal-line {
    content: "";
    display: block;
    height: 1px;
    background-color: #D8DEE9;
    width: 100%;
    margin: 1.2rem auto;
}