.santa{
    background-image: url(output-onlinegiftools.gif);
    position: relative;
    animation-name: santa;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 10s;
    left: -500px;
    top: 10px;
    height: 150px;
    width: 480px;
}

@keyframes santa {
    0% {left: -400px;}
    100% {left: 110%;}
}