*{
    padding: 0;
    margin: 0;
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#icon{
    display: flex;
    justify-content: center;
}

#search{
    display: flex;
    justify-content: center;
}

#searchInput{
    height: 50px;
    width: 650px;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.507);
    padding: 10px;
    font-size: 18px;
}

#searchInput:hover{
    box-shadow: 0 0 4px rgb(102, 102, 102);
}
#searcgInput:active{
    outline-style: solid;
    border: 1px solid rgb(102, 102, 102);
}
