.box {
    width: 100px;
    height: 100px;
    background-color: blueviolet;

        
    background-color: red;
    animation-name: box;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 5;
}


@keyframes box {
    from {background-color: red;}
    to {background-color: yellow;}

}

