body {
    font-family: sans-serif;
    background-color: #ffffff;
  }
  
  form {
    margin: 0 auto;
    border: 1px solid #ffffff;
    padding: 20px;
  }
  
  label {
    
    display: block;
    font-weight: 200;
    margin-bottom: 10px;
    
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #ccc;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  .twoColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }