.text{
    width: 100px;
    height: 100px;
    position: absolute;
    animation-name: anim;
    background-color: red;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.text2:hover{
    width: 200px;
    height: 200px;
    position: absolute;
    animation-name: anim;
    background-color: rgb(33, 226, 16);
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function:ease-in;
}



@keyframes anim {
    0%{background-color: red;}
}

@keyframes anim2 {
    0%   {background-color:rgb(5, 220, 55); left:0px; top:0px;}
    100% {background-color:rgb(21, 131, 21); left:0px; top:0px;}

}