body {
    margin: 0;
    padding: 0;
}

.headline {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: crimson;
    color: white;
    position: fixed;
    width: 100%;
}

.headline-left {
    display: flex;
    height: 80px;
}

.headline-left>img {
    position: relative;
    top: 0px;
    left: 10px;
    height: 110px;
}

.headline-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    gap: 25px;
}

.headline-right>* {
    padding-left: 15px;
}

.gridtop {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: hsl(185, 48%, 50%);
    text-align: center;
    align-items: center;
    height: auto;
    grid-gap: 0;

}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.gridtopleft {
    margin-bottom: -5px;
}

.gridtopright {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: x-large;
    color: white;
    font-family: ClanOT, Arial, Helvetica, sans-serif;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: normal;
}

p {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: white;
    font-size: large;
    font-style: oblique;
}

.details {
    color: white;
}

.details>span {
    padding: 5px 20px 5px 20px;
    border: white solid 3px;
}

.gridmid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: hsl(185, 48%, 50%);
    align-items: center;
    text-align: center;
}

.picturegrid {
    display: grid;
    margin-bottom: -5px;
}

h2 {
    font-size: large;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: normal;
}

.bottom {
    background-color: rgb(87, 83, 83);
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.iconfield {
    display: grid;
    height: 250px;
    width: 315px;
    align-items: center;
    text-align: center;
}

.material-symbols-outlined {
    font-size: 50px;
    color: white;


}

.accessible {
    height: 150px;
    width: 150px;

}

h3 {
    font-size: medium;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: normal;
}

.gridbottom {
    display: grid;
    background-color: white;
    grid-template-columns: 33.33% 33.33% 33.33%;
    align-items: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    mix-blend-mode: multiply;
}

.fieldsettings {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 80px;
}

.fieldsettings>img {
    width: 5vw;
}