*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color: #0e0e10;
    font-family: Helvetica,Helvetica,Arial,sans-serif;
}
a{
    color:white;
    text-decoration: none;
}


.navbar{
    position: sticky;
    background-color: rgb(24, 24, 24);
    top: 0;
    height: 20px;
    display:flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 13px;
    align-items: center;
    font-weight: bold;
}

.fa-twitch{
    color:#8469b6;
}

.navbar-left,
.navbar-middle,
.navbar-right {
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    max-width: 400px;
}
.directory{
    font-size: 25px;
}
.directory:hover{
    color:#8469b6;
    
}

.inputSearch{
    color: white;
    background-color: rgb(24, 24, 24);
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 25px;
    width: 300px;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
}

.inputSearch:focus{
    outline-style: solid;
    border: 3px solid #8469b6;
}

.searchIcon{
    height: 30px;
    width: 30px;
    padding-left: 5px;
}

.crown,
.user,
.settings,
.searchIcon{
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
}
.crown:hover,
.user:hover,
.settings:hover,
.searchIcon:hover{
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
}

.login,
.register{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.login{
    background-color: rgb(53, 53, 53);
}
.login:hover{
    background-color: rgb(92, 91, 91);
}
.register{
    background-color: #8469b6;
}
.register:hover{
    background-color: #9e84ce;
}

.suggestedChannels{
    background-color: #1f1f23;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-width: 20%;
    max-width: 20%;
    padding: 15px 10px 10px 20px;
}

#suggIcon{
    color: lightgray;
    display: none;
}

.suggestedText{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    
}

#main{
    display: flex;  
}

.mainRight{
    padding: 20px;
    font-size: 20px;
    margin-left: 22%;
}

@media only screen and (max-width: 1200px) {
    .mainRight{
        margin-left: 60px;
    }
    .suggestedText span
    {
        display: none;
    }
    .suggestedChannels img{
        content: url(assets/short.png);
    }
    .suggestedChannels{
        width: 30px;
        min-width: 30px;
    }
    #suggIcon{
        display: inline;
    }

}


@media only screen and (max-width: 1060px) {
    .inputSearch{ display: none; }
}
