* {
    margin: 0;
}

.full {
    background-color: black;
    height: 100vh;
    width: 100vw;

}

.ball {
    display: grid;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;

    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;

    animation: move 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    box-shadow:
        0px 0px 5.2px -34px rgba(255, 255, 255, 1),
        0px 0px 11.5px -34px rgba(255, 255, 255, 0.789),
        0px 0px 19.2px -34px rgba(255, 255, 255, 0.69),
        0px 0px 29px -34px rgba(255, 255, 255, 0.617),
        0px 0px 41.8px -34px rgba(255, 255, 255, 0.556),
        0px 0px 59.2px -34px rgba(255, 255, 255, 0.5),
        0px 0px 83.9px -34px rgba(255, 255, 255, 0.444),
        0px 0px 121.9px -34px rgba(255, 255, 255, 0.383),
        0px 0px 187.9px -34px rgba(255, 255, 255, 0.31),
        0px 0px 334px -34px rgba(255, 255, 255, 0.211);
}

.inside-ball {
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    transform: rotate(0deg);
    animation: rotate 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    justify-content: center;
    align-items: center;
    font-size: 50px
}

@keyframes move {
    0% {
        left: calc(0vw - 100px);

        top: calc(0vh - 100px);

    }

    20% {
        left: 20vw;
        top: calc(100vh - 100px);
    }

    40% {

        left: 40vw;
        top: 0vh;
    }

    60% {

        left: 60vw;
        top: calc(100vh - 100px);
    }

    80% {
        left: 80vw;
        top: 0vh;
        ;
    }

    100% {
        left: 100vw;
        top: 100vh;

    }

}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}