.headline {
    display: flex;
    justify-content: flex-end;
}

.headline>* {
    padding: 5px;
    border-left: solid black 1px;
}

.headline>*:first-child {
    border-left: none;
}

.small-icon {
    font-size: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
}

.navbar-left>* {
    padding: 0px 5px 0px 5px;
}

.navbar>.navbar-left>div>img {
    max-height: 20px;
}


@media only screen and (max-width: 400px) {
    .navbar {
        display: block;
    }

    .navbar-left {
        display: block;
    }
}