body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    user-select: none;
}

.calculator{
    min-width: 340px;
    max-width: 340px;
    border: 1px solid rgb(81, 80, 80);
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 15px orange;
    animation: 0s linear infinite move;
}

#screen{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
    color: white;
    height:60px;
    font-size: 30px;
}

button{
    font-weight: bold;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    width: 70px;
    height:70px;
    background-color: rgb(68, 66, 66);
    color: white;
    cursor: pointer;
    margin: 5px;
}
.numsZero{
    width: 155px;
    border-radius: 80px;
    box-shadow: none;
    text-align: left;
    padding-left: 25px;
    font-size: 40px;
}
.numsZero:hover{
    background-color: rgb(165, 159, 159);
}
.mathFuncs1{
    background-color:rgb(204, 195, 195);
    color: black;
}
.mathFuncs1:hover{
    background-color: rgb(165, 159, 159);
}
.mathFuncs2{
    background-color: orange;
}
.mathFuncs2:hover{
    background-color: rgb(243, 203, 124);
}
.nums:hover{
    background-color: rgb(165, 159, 159);
}

@keyframes move{
    0% { margin-left: -50%;}
    50% { margin-left: 49%; }
    100% { margin-left: -50%; }
}

@media only screen and (max-width: 400px){
    .calculator{
        min-width: 100px;
        min-height: 100px;
        
    }
    button{
        width: 60px;
        height: 60px;
        font-size: 30px;
    }

    .numsZero{
        font-size: 30px;
        width: ;
    }
}
